body {
    cursor: url('Assets/Miscellaneous/Cursor.png') 0 0, auto;
    background-color: #222222;
    overflow: hidden;
}

.main_menu {
    position: absolute;
    visibility: visible;
    top: 10px;
    left: 325px;
    height: 70px;
    width: 70px;
    z-index: 5;
    margin: auto;
}

.main_menu_image {
    position: absolute;
    width: 700px;
    height: 600px;
    left: -8px;
}

.main_menu_button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 71px;
}

.main_menu_button_image {
    position: absolute;
}

.main_menu_button_text {
    position: relative;
    text-align: center;
    margin-top: 19%;
    color: black;
}

.credits_text {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.codex_button {
    text-align: center;
    z-index: 7;
    position: absolute;
    left: 45px; 
}

.codex_button_text,
.codex_button_text_small {
    position: absolute;
    top: -10px;
    width: 126px;
    height: 35px;
    z-index: 8;
}

.codex_button_text_small {
    font-size: 12px;
    line-height: 28px;
}